* {
    margin: 0;
    padding: 0;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

header h1 {
    text-align: center;
    background-color: rgb(25, 18, 65);
    color: white;
    margin-bottom: 10px;
}

#header img{
    flex-flow: row;
    height: 600px;
    width: 400px;
    border-radius: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#image {
    flex-flow: row;
    position: static;
    width: 50%;
}

#image h1{
    text-align: center;
    color: rgb(255, 146, 146);
}

#image img{
    width: 90%;
    height: auto;
}